h1 {
	color:black;
	text-align:center;
	
}

body {
	background-color:yellow;
	font-family: Impact, sans-serif;
	font-size:24px;
}
a {
	color:black;
	text-decoration:none;
}
div li:hover, a:hover{
	background-color: black;
	color:yellow;
	width: 150px;
}